{% set classes = [
  'sangel-powered',
  'rounded-2xl',
  'text-sm',
  'text-sangel-text/70',
] %}

<div{{attributes.addClass(classes)}}>
	<div class="mb-4 text-center">
		<img src="/{{ directory }}/logo.svg" alt="SangelPro" class="mx-auto h-12 w-auto" loading="lazy">
	</div>

	{% if label %}
		<h3{{title_attributes.addClass('text-xs','font-semibold','uppercase','tracking-[0.28em]','text-sangel-text/50','text-center')}}>
			{{ label }}
		</h3>
	{% endif %}
</div>
