{# Header cart counter block wrapper. #}
{% set classes = [
  'sangel-header__action',
  'sangel-header__action--cart',
  'sangel-header-counter',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content }}
</div>
